<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myapp/index</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascripts/script.js"></script>
</head>
<body>
  <h1>myapp/index</h1>
  <p><%= @message %></p>
  <div>
    <img src="/images/rblogo.png" alt="">
  </div>
</body>
</html>